body {
    background-color: #1b1a1f9d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body{
    background-color: #222328;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 640px;
    border-radius: 25px;
    overflow: hidden;
    gap: 12px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
    
}

.screen {
    background-color: #30333c;
    width: 100%;
    height: 40%;
    border-radius: 25px;
    box-shadow: 0px 0px 9px 0px rgba(100, 100, 111, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), 0px 7px 13px -3px rgba(0, 0, 0, 0.3), inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    
}

.screen > * {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    font-size: 38px;
    padding: 24px;
}

.screen-result {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.dial {
    background-color: #30333c;
    border-radius: 25px;
    height: 100%;
    box-shadow: 0px 0px 9px 0px rgba(100, 100, 111, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}

.dial-row{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 6px;
}

button{
    border-radius: 25px;
    font-size: 26px;
    font-family: serif;
    min-width: 80.5px;
    min-height: 75.2px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), 0px 7px 13px -3px rgba(0, 0, 0, 0.3), inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    user-select: none;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.55);
}

#clear, #backspace {
min-width: 123.75px;

}